* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.section1 {
    width: 100%;
    padding: 0 10%;
    background-color: #1f2937
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

nav p {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.content {
    margin-top: 100px;
    max-width: 500px;
}

.content h1 {
    color: #f9faf8;
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 900;
}

.content p {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 20px;
}

.content button {
    padding: 10px 20px;
    background-color: #3b82f6;
    color: #f9faf8;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 120px;
}


.imageholder { 
    width: 500px; 
    height: 270px; 
    background-color: #e5e7eb; 
    position: absolute;
    top: 25%;
    right: 10%;
    
}

.section2 {
    width: 100%;
    padding: 0 10%;
    background-color: #f9faf8
}

.section2 h1 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-bottom: 100px;
    
}

.box {
    width: 150px;
    height: 150px;
    border: solid 4px #1275ff;
    border-radius: 20px;
    margin-bottom: 5px;
}

.box1 p {
    color: #4e596c;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.section3 {
    background-color: #e5e7eb;
    width: 100%;
    padding: 0 ;
  
}

.qoute {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    padding-top: 100px;
    margin-left: 250px;
}

.author {
    margin-left: 750px;
    padding-bottom: 100px;
    font-size: 24px;
}

.section4 {
    background-color: #f9faf8;
    width: 100%;
    padding: 10%;   
}

.container {
    background-color: #3b82f6;
    border-radius: 10px;
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container button {
    padding: 5px 30px;
    background-color: #3b82f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.call {
    font-size: 24px;
    color: #f9faf8;
}

.sign {
    font-size: 18px;
    color: #e5e7eb;
}

footer {
    width: 100%;
    background-color: #1f2937; 
    padding: 35px 0;
}

footer p {
    text-align: center;
    color: #f9faf8;
}