* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.section1 {
    width: 100%;
    padding: 0 10%;
    background-color: #1f2937
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

nav p {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.content {
    margin: 100px 0;
    max-width: 600px;
}

.content h1 {
    color: #f9faf8;
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 900;
}